@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
}

.nav{
  max-width: 1280px;
  height:72px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
}

.nav img{
  position: relative;
  height:70px;
  width: 90px;
  top: 10px;
  cursor: pointer;
}
.nav .h3s{
  display: flex;
  gap: 32px;
  color: #2E2E2E;
  cursor: pointer;

}
.nav button{
font-size: 20px;
  height: 31px;
  width: 75px;
  background-color:#D01C28;
  color: #fff;
border: none;
cursor: pointer;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.hero{
  display: flex;
  max-width: 1125px;
  height: 613px;
  padding-bottom: 0px;
position: relative;
top: 35px;
margin: 0 auto;

  align-items: center;
  gap: 80px;
}
.hero-left{
  max-width:595px;
  max-height: 613px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.hero-left h1{
  width: 595px;
  height: 306px;
  color: #000;
  font-family: Poppins;
  font-size: 108px;
  font-style: normal;
  font-weight: 800;
  line-height: 102px; 
  text-transform: uppercase;
}
.hero-left p {
  width: 404px;
  height: 91px;
  color: #5A5959;
font-size: 16px;
font-weight: 600;
line-height: normal;
}
.hero-right img{
  width: 530px;
  height: 487.062px;
}
.market{
  flex-direction: column;
  align-items: flex-start;
  
  color: #5A5959;
}
.market1{
  display: flex;
  gap: 16px;
  cursor: pointer;

}
.btn{
  display: flex;
  align-items: flex-start;
  gap: 40px;

  
}
.hero-left .btn1{
  background-color:#D01C28;
  width: 141px;
  height:41px;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  border: none;
  cursor: pointer;

}
.hero-left .btn2{
  color: var(--GRAY, #5A5959);
  width: 141px;
  height:41px;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #5A5959;
  background-color: transparent;
  cursor: pointer;

}