*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width:100%;
}
.nav{
  position: relative;
  width:90%;
  height:80px;
  background-color: aqua;
  left:5%;
}
.nav img{
  position: relative;
  height:70px;
  width: 90px;
  top: 10px;
}